.perfil {
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
}

.menu {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    background-color: #222;
    align-items: center;
    width: 30vw;
    height: 100vh;
    overflow-y: auto;
    padding-top: 5rem;
}

.menu h1 {
    color: #FFFF;
    font-size: 2.5rem;
}

.menuList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.menuItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    width: 90%;
    border-radius: 0.5rem;
    border: 1px solid #a8a8b3;
    padding: 0 1rem;
    margin-bottom: 1rem;
    background: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.menuItem:hover {
    background: #d8a5ff;
}

.selecionado {
    background: var(--colorDefault);
}

.selecionado:hover {
    background: var(--colorDefault);
}

.conteudo {
    width: 80vw;
}

.menu button {
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: 0.2s;
}


.menu button:hover {
    filter: brightness(0.8);
}

.menu button img {
    width: 2rem;
    height: 2rem;
}

.voltarImg {
    top: 1rem;
    right: 1rem;
}

.logout {
    top: 1rem;
    left: 1rem;
}