.usuarios {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #29292e;
    width: 10%;
    padding: 2rem 0;
    height: 100vh;
    z-index: 2;
    border-left: 1px solid var(--colorDefault);
}

.usuarios .listaUser {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    gap: 2rem;
}

.listaUser::-webkit-scrollbar {
    width: 0.3rem;
}

.listaUser::-webkit-scrollbar-track {
    background: #353535;
}

.listaUser::-webkit-scrollbar-thumb {
    background: #222;
}

.userItem {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    width: 100%;
}

.userItem:hover {
    background-color: #3e3e3e;
}

.user {
    font-size: 1rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    word-break: break-all;
}

.user span {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    max-width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.user span img {
    height: 1rem;
}

.userPerfil {
    height: 3.3rem;
    width: 3.3rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.userPerfil img {
    height: 3rem;
    border-radius: 100%;
}

.userOptions {
    display: flex;
    height: 0rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    background-color: #222;
    transition: 0.3s;
}

.userOptions button {
    display: none;
    width: 100%;
    height: 0;
    color: #fff;
    font-size: 0.9rem;
    transition: 0.3s;
    border: none;
    padding: 0.5rem 1rem;
    background-color: transparent;
}

.userOptions button:hover {
    background-color: #353535;
}

.fadeInUser {
    height: 10rem;
}

.fadeInUser button {
    display: block;
    height: max-content;
}