.perfil {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    background-color: #222;
    align-items: center;
    width: 30vw;
    height: 100vh;
    overflow-y: auto;
    padding-top: 5rem;
}

.menu h1 {
    color: #FFFF;
    font-size: 2.5rem;
}

.menuItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    width: 90%;
    border-radius: 0.5rem;
    border: 1px solid #a8a8b3;
    padding: 0 1rem;
    margin-bottom: 1rem;
    background: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.menuItem:hover {
    background: #d8a5ff;
}

.selecionado {
    background: var(--colorDefault);
}

.selecionado:hover {
    background: var(--colorDefault);
}

.conteudo {
    width: 70vw;
}